<h1>Thanks for your enquiry, <%= @enquiry.name %></h1>

<p>
  <!--<%= @greeting %>, find me in app/views/enquiry_mailer/received.html.erb-->
  Your enquiry has been received and one of our stuff will contact you soon.
</p>

<p>Aura Creative</p>
